@import "tailwindcss";


/* Hide scrollbar but still allow scrolling */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }